<div id="form">
<h3 style="text-align: center;color: #0b8505">Add task</h3><br/>
<form  method="post" action="" enctype="multipart/form-data">
    <div class"form-group">
        <label for="name">Your name:</label>
        <input type="text" id="name" name="name" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="task">Task:</label>
        <textarea name="task" id="task" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="img">Image:</label>
        <input type="file" name="file" id="img">
    </div>
    <input type="submit" class="btn btn-success" value="Add" style="width: 100%" />
</form>
<div>
    <button class="btn btn-warning" id="preview" style="width: 33.333%;margin-left: 33.333%"/>Preview</button>
</div>
</div>
<div id="wrapper" xmlns="http://www.w3.org/1999/html" style="display: none">
    <div class="about">
        <article>
            <div id="article_title"><h2 style="color:#ed7b7b;"><?=$data['tasks']['title']?></h2></div>
            <div id="user"><?=$data['tasks']['user']?>(<?=$data['tasks']['user_email']?>)</div>
            <img src="" alt="image">
            <div class="task_text"><?=$data['tasks']['task']?></div>
        </article>
        <div class="footer">
            <button id="preview_back">Back</button>
        </div>
    </div>
</div>

