<div id="wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="about">
            <article>
                <div id="article_title"><h2 style="color:#ed7b7b;"><?=$data['tasks']['title']?></h2></div>
                <div id="user"><?=$data['tasks']['user']?>(<?=$data['tasks']['user_email']?>)</div>
                <img src="../../webroot/img/<?=$data['tasks']['id']?>.jpg" id="img">
                <div class="task_text"><?=$data['tasks']['task']?></div>
            </article>
            <div class="footer">
                <a href="/tasks">Back</a>
            </div>
        </div>
</div>
