<h3>Edit task</h3><br/>
<form method="post" action="" enctype="multipart/form-data">
    <input type="hidden" name="id" value="<?=$data['task']['id']?>" />
    <div class="form-group">
        <label for="name">User name:</label>
        <input type="text" id="name" name="name" value="<?=$data['task']['user']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="email">User email:</label>
        <input type="email" id="email" name="email" value="<?=$data['task']['user_email']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<?=$data['task']['title']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="task">Task:</label>
        <textarea name="task" id="task" class="form-control"><?=$data['task']['task']?></textarea>
    </div>
    <div class="form-group">
        <label for="img">Image:</label>
        <input type="file" name="file" id="img">
    </div>
    <div class="form-group">
        <label for="status">Done:</label>
        <input type="checkbox" id="status" name="status" <?php if ($data['task']['status'] == 1){?>checked = "checked"<?php } ?> value="1">
    </div>
    <input type="submit" class="btn btn-success" />
</form>
