<h3 style="text-align: center">Current Tasks</h3><br/>
<table class="table table-striped" style="width: 400px; margin-left: 33%">
<?php foreach($data['tasks'] as $task_data) { ?>
    <tr>
        <td><b>Id:<?=$task_data['id']?> (User:<?=$task_data['user']?> , Title:<?=$task_data['title']?>)</b></td>
        <td align="right">
            <a href="/admin/tasks/edit/<?=$task_data['id']?>"><button class="btn btn-sm btn-primary">edit</button> </a>
            <a href="/admin/tasks/delete/<?=$task_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button> </a>
        </td>
    </tr>
<?php } ?>
</table>
<div style="text-align: center">
    <a href="/tasks/add/"><button class="btn btn-sm btn-success" style="width: 400px">New Task</button> </a>
</div>

