<div style="text-align: center">
    <a href="/tasks/add/" style=""><button class="btn btn-sm btn-primary">New Task +</button> </a>
</div>
<div id="sort">
    Sort by:
    <a href="/tasks/page/1/active">Active</a>
    <a href="/tasks/page/1/done">Done</a>
    <a href="/tasks/page/1/user-name">User-name</a>
    <a href="/tasks/page/1/user-email">User-email</a>
</div>
<div id="wrapper">
    <div id="articles">
    <?php foreach($data['tasks'] as $task_data) { ?>
        <?php if ($task_data) { ?>
        <article>
            <img src="/img/<?=$task_data['id']?>.jpg" alt="picture">
            <h2><?=$task_data['user']?></h2>
            <p><?=$task_data['user_email']?></p>
            <span id="status"><img src="/img/task/<?php if ($task_data['status'] == 0){?>active.png<?php }else{ ?>done.png<?php } ?> " alt="status" ></span>
            <a href="/tasks/view/<?=$task_data['id']?>">Read</a>
        </article>
        <?php } ?>
    <?php } ?>
    </div>
</div>
<?php if(isset($data['tasks'][0])){ ?>
<div style="text-align: center">
    <ul class="pagination">
    <?php if (!isset($data['param'])){?>
        <li><a href="/tasks/page/1">1</a></li>
    <?php }else{ ?>
        <li><a href="/tasks/page/1/<?=$data['param']?>">1</a></li>
    <?php } ?>
<?php for ($i=2;$i<$data['count'][0]['count'];$i+=4){ ?>
    <?php if (!isset($data['param'])){?>
        <li><a href="/tasks/page/<?=$i?>"><?=$i?></a></li>
    <?php }else{ ?>
        <li><a href="/tasks/page/<?=$i?>/<?=$data['param']?>"><?=$i?></a></li>
    <?php } ?>
<?php } ?>
    </ul>
</div>
<?php } ?>
